nav.toc {
  @apply absolute left-full hidden h-full w-72 xl:block;
  animation: slide-in 1s forwards;

  a[href] {
    @apply no-underline;
  }

  ol {
    @apply sticky top-12 ml-4 mr-0;

    li {
      @apply list-none;
    }
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(2rem);
  }
}
