.typography {
  font-family: "Noto Serif SC", serif;
  @apply relative text-lg;
  counter-reset: h2 h3 h4 h5 h6;
}

.typography h1 {
  @apply mx-6 mb-2 mt-12 text-4xl font-bold;
}

.typography h2 {
  @apply mx-6 mb-2 mt-8 text-3xl font-bold;
  counter-increment: h2;
  counter-reset: h3 h4 h5 h6;
  /* &::before {
    content: counter(h2, cjk-decimal) "ã€";
  } */
}

.typography h3 {
  @apply mx-6 mb-2 mt-6 text-2xl font-bold;
  counter-increment: h3;
  counter-reset: h4 h5 h6;
  /* &::before {
    content: counter(h2) "." counter(h3) " ";
  } */
}

.typography h4 {
  @apply mx-6 mb-2 mt-4 text-xl font-bold;
  counter-increment: h4;
  counter-reset: h5 h6;
  /* &::before {
    content: counter(h2) "." counter(h3) "." counter(h4) " ";
  } */
}

.typography p {
  @apply mx-6 my-4;
}

.typography blockquote {
  @apply my-2 border-l-4 border-gray-800 px-6 py-2 italic dark:border-gray-200;
}

.typography blockquote > p,
.typography li > p {
  @apply mx-0;
}

.typography figure {
  @apply mx-6 my-2;
}

.typography figure img {
  @apply mx-auto;
}

.typography figcaption {
  @apply mt-2 text-center text-sm opacity-60;
}

.typography aside {
  @apply mx-6 my-4 text-center text-xl italic opacity-80;
}

.typography a[href] {
  @apply underline;
}

.typography ul {
  @apply mx-12 mb-2 list-disc [&>li]:mt-2;
}

.typography ol {
  @apply mx-12 mb-2 list-decimal [&>li]:mt-2;
}

/* rehype-prism-plus */

.typography pre[class^="language-"],
.typography pre:has(code:not(.language-math)) {
  @apply mx-6 mb-2 overflow-auto rounded-md bg-slate-800 py-4 dark:bg-slate-900;

  code {
    @apply grid;
  }

  .code-line {
    @apply block border-l-4 border-transparent px-4;

    &.highlight-line {
      @apply border-green-400 bg-green-400/25 dark:border-blue-400 dark:bg-blue-400/25;
    }

    &.line-number {
      @apply before:inline-block before:w-8 before:pr-4 before:opacity-60 before:content-[attr(line)];
    }
  }
}

.typography blockquote > pre,
.typography li > pre {
  @apply mx-0;
}

.typography table {
  @apply mx-6 my-4;
  width: calc(100% - 3rem);
}

.typography tr {
  @apply m-0 border-b border-slate-300 p-0 dark:border-slate-700;
}

.typography th,
.typography td {
  @apply border border-slate-800 px-4 py-2 text-left dark:border-slate-700;

  &[align="center"] {
    @apply text-center;
  }

  &[align="right"] {
    @apply text-right;
  }
}

.typography th {
  @apply font-bold;
}

.typography hr {
  @apply mx-6 mb-2 h-0.5 appearance-none bg-slate-800 dark:bg-slate-700;
  width: calc(100% - 3rem);
}

.typography code:not(pre code) {
  @apply rounded-sm bg-sky-100 px-1 py-0.5 font-mono text-base text-sky-800 dark:bg-slate-700 dark:text-sky-200;
}

.typography b {
  @apply font-bold;
}
